<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>

        <dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Pause Button</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>pauseButtonColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>pauseButtonColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artwork Border</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artworkBorderColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artworkBorderColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Title</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>songTitleColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>songTitleColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Song Title Shadow</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>songTitleShadowColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>songTitleShadowColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artist Name</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artistNameColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artistNameColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Artist Name Shadow</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artistNameShadowColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>artistNameShadowColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Rewind Button Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBackgroundColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBackgroundColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Rewind Button</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Rewind Button Border</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBorderColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>rewindButtonBorderColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Skip Button Background</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonBackgroundColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>0</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonBackgroundColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Skip Button</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>1</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Skip Button Border</string>
		</dict>
        <dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<false/>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonBorderColorFlow</string>
			<key>label</key>
			<string>Use ColorFlow Colors</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSSegmentCell</string>
			<key>default</key>
			<integer>2</integer>
			<key>defaults</key>
			<string>love.litten.lobeliaspreferences</string>
			<key>key</key>
			<string>skipButtonBorderColorFlowColor</string>
			<key>validValues</key>
			<array>
				<integer>0</integer>
				<integer>1</integer>
				<integer>2</integer>
			</array>
			<key>validTitles</key>
			<array>
				<string>Background</string>
				<string>Primary</string>
				<string>Secondary</string>
			</array>
			<key>alignment</key>
			<string>3</string>
			<key>PostNotification</key>
			<string>love.litten.lobeliaspreferences/ReloadPrefs</string>
		</dict>

	</array>
	<key>title</key>
	<string>Lobelias</string>
</dict>
</plist>
